# fly.toml app configuration file generated for gvmh-ed-frontend on 2025-11-22T09:10:32-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gvmh-ed-frontend'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  BACKEND_URL = 'https://gvmh-ed-backend.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
